/**
 * Carousel Component Demo Style for Uxcore
 * @author eternaslky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/uxcore-kuma/src/variables";
@import "../src/Carousel.less";


h3 {
  background: blue;
  color: #fff;
  height:200px;
  font-size: 36px;
  line-height: 200px;
  position: relative;
  text-align: center;
}

.demo {
    width: 1000px;
    height:200px;
    margin:20px auto 0;
}