/**
 * Carousel Component Demo Style for Uxcore
 * @author eternaslky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../node_modules/uxcore-kuma/src/variables";
@import "../src/Carousel.less";


h3 {
  background: blue;
  color: #fff;
  font-size: 36px;
  line-height: 100px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}

.demo {
    width: 1000px;
    margin: 0 auto;
}